<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    
        <script src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"> </script>
        <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.charts.js' %}"></script>
        <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fusion.js' %}"></script>
    </head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/"> Home </a></li>
            <li><a class="navbar-brand" href="timetable"> Time Table </a></li>
            <li><a class="navbar-brand" href="iitg"> IITG </a></li>
            <li><a class="navbar-brand" href="search"> Search </a></li>
            {% if user.is_authenticated %}
                <li><a class="navbar-brand" href="allchat"> Chat </a></li>
            {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
                <li><a class="navbar-brand" href="accounts/register"> Register </a></li>
                <li><a class="navbar-brand" href="accounts/login"> Login </a></li>
            {% else %}
                <li><a class="navbar-brand" href="/"> Logged in as {{user}} </a></li>
                <li><a class="navbar-brand" href="accounts/logout"> Logout </a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
